

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-Regular.ttf)
}
@font-face {
  font-family: Raleway-bold;
  src: url(fonts/Raleway-Bold.ttf)
}
@font-face {
  font-family: Raleway-semi-bold;
  src: url(fonts/Raleway-SemiBold.ttf)
}
@font-face {
  font-family: Raleway-extra-bold;
  src: url(fonts/Raleway-ExtraBold.ttf)
}


html {
  scroll-behavior: smooth;
  height: 500px;
}

body {
  margin: auto;
  width: 998px;
  height: 500px;
  padding: 20px;
  font-family: Raleway;
}


h1 {
  font-size: 15px;
  font-family: Raleway-bold;
  padding-left: 10px;
  padding-top: 4px;
  line-height: 20px;
}

h2 {
  font-size: 13px;
  font-family: Raleway-bold;
  padding-left: 10px;
  padding-top: 4px;
  line-height: 20px;
}

p {
  font-size: 12px;
  padding-left: 10px;
}

header>p {
  line-height: 0px;
}

header {
  width: auto;
  height: 180px;
}

#logo {
  height: 40px;
  width: 720px;
}

#logo>img {
  height: 30px;
  width: 65px;
  padding-bottom: 10px;
}

#head-welcome {
  width: 350px;
  height: 50px;
}

#acc-act-menu {
  width: auto;
  height: 50px;
  text-align: center;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

#acc-act-menu>div {
  display: flex;
  flex-flow: row;
}

#acc-act-menu>div>div {
  width: 100px;
  height: 50px;
 
}

#acc-act-menu>div>div>a {
  font-size: 12px;
  text-decoration: none;
  color:black;
  padding: 21px 15px 21px 15px;
  font-size: 13px;
  border-top-style: solid; 
  border-color: #F2F2F2ff;
  border-width: 2px; 
}


#acc-act-menu>div>div>a:hover  {
  color: #0065FC;
  border-top-style: solid;
  border-width: 2px;  
  border-color: #0065FC;
}
#acc-act-menu>div>div:focus  {
  color: #0065FC;

}

#search-bar {
  width: 256px;
  height: 35px;
  display: flex;
  flex-flow: row;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #F2F2F2;
  margin-left: 10px;
  margin-top: 20px;
}


.map {
  background-color: #F2F2F2;
  margin-right: -1px;
  border-radius: 13px 0px 0px 13px;
  height: 20px;
  width: 20px;
  padding: 8px;
  text-align: center;
}

.map>a>i {
  font-weight: 5px;
  color: black;
}

#search-bar>div>form>input {
  height: 25px;
  width: 140px;
  text-decoration: none;
  border-color: transparent;
  font-size: 13px;
  font-family: Raleway-bold;
}

#search-bar>div>form>button {
  height: 35px;
  width: 65px;
  padding: 5px;
  margin-right: -1px;
  background-color: #0065FC;
  color: white;
  font-size: 13px;
  font-family: Raleway-semi-bold;
  text-decoration: none;
  border-color: transparent;
  border-radius: 0px 13px 13px 0px;
}

.filters-box {

  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  height: 130px;
  width: auto;
  text-align:center;
  padding-top: 10px;
}

.filters-box>h2 {
  height: 20px;
  width: 50px;
  margin-right: 15px;
  font-family: Raleway-extra-bold;
}

.filters {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  text-align:center;
  justify-content: space-evenly;
}


.filters>div {
  box-sizing: content-box;
  margin: 5px;
  height: 25px;
  border-style: solid;
  border-color: #dfdede;
  border-width: 2px;
  border-radius: 50px;
  padding: 3px 3px 3px 3px;
  border-left: transparent;
}

.filters>div>a {
  text-decoration: none;
  font-size: 15px;
}

.filters>div>a>i {
  padding: 10px;
  margin: -5px;
  color:#0065FC;
  background-color: #deebff;
  border-radius: 100px;
}

.filters>div>a>p {
  color:black;
  font-size: 13px;
  font-family: Raleway-extra-bold;
  display: inline;
  margin-right: 10px;
}

.filters>div:hover {
  background-color: #F2F2F2;
} 

.filters>div:hover >a>i {
  color: #deebff;
  background-color: #0065FC;
}

#Accomodations {
  width: 998px;
  height: 450px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

#Accomodations>span {
  width: auto;
  height: 30px;
  display: flex;
  flex-flow: row;
  padding-top: 5px;
}

#Accomodations>span>span>i {
  display: inline;
  border-style: solid;
  border-color: #F2F2F2;
  border-width: 2px;
  color:#0065FC;
  padding: 3px;
  border-radius: 100px;
  font-size: 7px;
  margin-left: 10px;
  margin-right: 5px;
}

#Accomodations>span>span>p {
  display: inline;
  font-family: Raleway;
  padding-left: 0px;
}

#Accomodations>div {
  display: flex;
  flex-flow: row;
  width: auto;
  height: 900px;
  justify-content: flex-end;
}

#AccM {
  margin: 10px;
  width: auto;
  height: 420px;
  display: inline;
  background-color: #F2F2F2;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-flow: column;
}

#AccM>span {
  height: 30px; 
  padding: 5px;
  padding-left: 10px;
}

#AccM>h2 {
  padding: 15px;
  padding-left: 20px;
}

#AccM>h2>a {
  text-decoration: none;
  color:black;
}

#AccM>div {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.map-acc>div {
  background-color: white;
  width: 175px;
  height: 125px;
  padding: 5px;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 #e0e0e0;
}

.map-acc {
  width: 175px;
  height: 125px;
  padding: 15px;
  text-decoration: none;
  color:black;
}

.map-acc>div>img {
  width: 175px;
  height: 70px;
  position: relative;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
  display: inline;
}

.textacc {
  display: flex;
  flex-flow: column;
  position: relative;
}

.textacc>h2 {
  position: absolute;
  top: 0px;
  font-size: 12px;
  line-height: 0px;
}

.textacc>p {
  position: absolute;
  top: 20px;
  font-size: 10px;
  line-height: 0px;
}

.textacc>span {
  position: absolute;
  top: 40px;
  font-size: 9px;
  line-height: 0px;
  color: #0065FC;
  padding-left: 10px;
}

#greystar {
  color: #e0e0e0;
}

#Popular {
  margin: 10px;
  width: 270px;
  height: 400px;
  padding: 20px;
  display: inline;
  background-color: #F2F2F2;
  border-radius: 20px;
}

#Popular>h1 {
  display: inline;
  margin: 10px; 
}

#Popular>i {
  display: inline;
  float: right;
}

#Popular>div {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  margin-top: 10px;
}

.map-pop {
  width: 240px;
  height: 110px;
  margin: 5px;
  text-decoration: none;
  color:black;
}

.map-pop>div {
  background-color: white;
  width: 230px;
  height: 100px;
  padding: 5px;
  display: flex;
  flex-flow: row;
  border-radius: 20px;
  box-shadow: 0 6px 10px 0 #e0e0e0;
}

.map-pop>div>img {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline;
  object-fit: cover;
  border-radius: 15px 0px 0px 15px;
}

.textpop {
  width: 140px;
  height: 100px;
  margin: -15px -15px -15px 0px;
  position: relative;
  display: flex;
  flex-flow: column;
}


.textapop>h2 {
  position: absolute;
  top: 15px;
  font-size: 12px;
  line-height: 0px;
}

.textpop>p {
  position: absolute;
  top: 50px;
  font-size: 10px;
  line-height: 0px;
}

.textpop>span {
  position: absolute;
  top: 80px;
  font-size: 9px;
  line-height: 40px;
  color: #0065FC;
  padding-left: 10px;
}

#Activities{
  width: auto;
  height: 400px;
  padding: 20px;
}

#Activities>div {
  display: flex;
  flex-flow: row;
}

#Activities>div>div {
  margin: 5px;
  position: relative;
}

#Activities>div>div>h2 {
  position: absolute;
  bottom: 2px;

}

.map-act {
  width: 230;
  height: 320px;
  padding: 10px;
  text-decoration: none;
  color:black;
}

.longpic {
  width: 230;
  height: 320px;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 #e0e0e0;
}

.longpic>img {
  width: 230px;
  height: 280px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.short {
  display: flex;
  flex-flow: column;
}

.map-act-short {
  width: 230px;
  height: 153px;
  margin: 5px;
  text-decoration: none;
  color:black;
}

.shortpic {
  width: 230px;
  height: 153px;
  margin: 5px;
  border-radius: 15px;
  box-shadow: 0 6px 10px 0 #e0e0e0;
  position: relative;
}

.shortpic>h2 {
  position: absolute;
  bottom: 1px;
}

.shortpic>img {
  width: 230px;
  height: 115px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

footer {
  width: auto;
  height: 150px;
  background-color: #F2F2F2;
  display: flex;
  flex-flow: row;
  
}

footer>div {
  display: flex;
  flex-flow: column;
  position: relative;
  margin: 10px 20px 20px 20px;
  width: 400px;
  height: 100px;
}

footer>div>p {
display: inline;
margin-top: 2px;
}

footer>div>p>a {
  text-decoration: none;
  color:black;
}


/* Responsive for Phones*/

@media only screen and (max-width: 768px) {
  
  html {
    height: 3440px;
  }

  body {
    width: auto;
    height: 2500px;
  }

  header {
    width: auto;
    height: 250px;
    padding: 5px;
  }

  #logo {
    height: 60px;
    width: auto;
  }
  
  #logo>img {
    height: 35px;
    width: 75px;
  }
  
  #head-welcome {
    width: auto;
    height: 50px;
  }
  
  #acc-act-menu {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 80px;
  }

  #acc-act-menu>div>div>a {
    font-size: 12px;
    text-decoration: none;
    color:black;
    padding: 21px 15px 10px 15px;
    font-size: 13px;
    border-top-style: none;
    border-bottom-style: solid; 
    border-color: #F2F2F2ff;
    border-width: 2px; 
  }
  
  #acc-act-menu>div>div>a:hover  {
    color: #0065FC;
    border-top-style: none;
    border-bottom-style: solid;
    border-width: 2px;  
    border-color: #0065FC;
  }
  #acc-act-menu>div>div:focus  {
    color: #0065FC;
  }

  #Accomodations {
    width: auto;
    height: 1550px;
    padding: 5px;
    justify-content: flex-start;
  }

  #Accomodations>div {
    display: flex;
    flex-flow: column-reverse;
    width: auto;
    height: 1300px;
    justify-content: flex-end;
  }

  #Popular {
    margin-top: 20px;
    width: 300px;
    height: 430px;
    padding: 5px;
    padding-top: 20px;
    border-radius: 0px;
  }

  #Popular>div {
    align-items: center;
  }

  .map-pop {
    width: 260px;
  }
  
  .map-pop>div {
    width: 250px;
  }

  #AccM {
    margin: 10px;
    width: auto;
    height: 400px;
    background-color: transparent;
    padding: 5px;
  }
  
  #AccM>div {
    flex-flow: column;
  }

  .map-acc {
    width: 250px;
  }

  .map-acc>div {
    width: 250px;
  }
  
  
  .map-acc>div>img {
    width: 250px;
  }

  #Activities {
    height: 1050px;
}

  #Activities>div {
    display: flex;
    flex-flow: row;
    flex-direction: column;
    padding: 15px;
  }

  .map-act {
    width: 250px;
    height: 153px;
  }

  .longpic {
    width: 250px;
    height: 153px;
  }

  .longpic>img {
    width: 250px;
    height: 115px;
  }

  .map-act-short {
    
  }

  .shortpic {
    width: 250px;
    margin: 0px 10px 0px 0px;
  }
  
  
  .shortpic>img {
    width: 250px;
  }

  footer {
    width: auto;
    display: flex;
    flex-flow: row;
    flex-direction: column;
    height: 400px;
  }

  footer>div {
    width: auto;
  }
  
}